<link rel="import" href="meteor-collection.html">

<polymer-element name="meteor-test">
  <template>
    <meteor-collection name="music" ref="{{cref}}"></meteor-collection>
    <meteor-subscribe id="sub" name="musics" isready="{{isready}}"></meteor-subscribe>
    <meteor-query id="query" collection="{{cref}}" options="{{options}}" data="{{data}}"></meteor-query>

    <h1>subscrition to "musics" publish. ready state is {{isready}}</h1>
    <ul>
      <template repeat="{{entry in data}}">
        <li>{{entry.artist}} // {{entry.album}}</li>
      </template>
    </ul>
  </template>
  <script>
    Polymer('meteor-test', {
      options: {sort: {artist: 1}}
    });
  </script>
</polymer-element>
