<polymer-element name="meteor-collection">
  <script>
    Polymer('meteor-collection', {
      publish: {
        name: null,
        ref: null,
      },
      nameChanged: function() {
        if (this.name) {
          this.ref = new Mongo.Collection(this.name);
        }
      },
    });
  </script>
</polymer-element>

<polymer-element name="meteor-subscribe">
  <script>
    Polymer('meteor-subscribe', {
      publish: {
        handle: null,
        name: "",
        args: [],
        isready: false
      },
      observe: {
        'name args': 'resub'
      },
      resub: function() {
        this.stop();

        if (this.name) {
          var self = this;
          var callargs = this.args.slice(0);
          callargs.unshift(this.name);

          this.handle = Meteor.subscribe.apply(null, callargs);
          this.computation = Tracker.autorun(function() {
            self.isready = self.handle.ready();
          });
        }
      },
      stop: function() {
        if (this.handle) {
          this.handle.stop();
          this.handle = null;
        }
        if (this.computation) {
          this.computation.stop();
          this.computation = null;
        }
      },
      ready: function() {
      }
    });
  </script>
</polymer-element>

<polymer-element name="meteor-query">
  <script>
    Polymer('meteor-query', {
      computation: null,
      publish: {
        collection: null,
        handle: null,
        data: [],
        query: {},
        options: {}
      },
      observe: {
        'collection query options': 'refind'
      },
      refind: function() {
        if (this.handle) {
          this.handle.stop();
          this.handle = null;
          this.data = [];
        }

        if (this.collection) {
          var self = this;
          var cursor = this.collection.find(this.query, this.options);
          this.handle = cursor.observeChanges({
            addedBefore: function(id, fields, before) {
              // added _id
              fields._id = id;
              if (before == null) {
                self.data.push(fields);
                return;
              } else {
                var i = self._findIndex(before);
                self.data.splice(i, 0, fields);
              }
            },
            changed: function(id, fields) {
              var entry = self.data[self._findIndex(id)];
              for(var field in fields) {
                if(fields[field] === undefined) {
                  delete entry[field];
                } else {
                  entry[field] = fields[field];
                }
              }
            },
            movedBefore: function(id, before) {
              var oldindex = self._findIndex(id);
              var entry = self.data.splice(oldindex, 1)[0];

              if (before) {
                var newindex = self._findIndex(before);
                self.data.splice(newindex, 0, entry);
              } else {
                self.data.push(entry);
              }
            },
            removed: function(id) {
              var index = self._findIndex(id);
              self.data.splice(i, 1);
            }
          });
        }
      },
      _findIndex: function(id) {
        for (i = 0; i < this.data.length; i++) {
          if (EJSON.equals(this.data[i]._id,id)) {
            return i;
          }
        }
        return -1;
      }
    });
  </script>
</polymer-element>
