<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="/bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="/bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-toast/paper-toast.html">
<link rel="import" href="/bower_components/meteor-elements/meteor-connection.html">
<link rel="import" href="/bower_components/meteor-elements/meteor-collection.html">
<link rel="import" href="/bower_components/meteor-elements/meteor-subscribe.html">
<link rel="import" href="/bower_components/meteor-elements/meteor-query.html">
<link rel="import" href="music-list.html">
<link rel="import" href="music-album-card.html">


<dom-module id="music-app">

  <style>
  paper-dialog paper-button {
    color: #1e88e5;
  }
  </style>

  <template>
    <meteor-connection status="{{status}}" on-server-disconnected="_onDisconnect"></meteor-connection>
    <meteor-subscribe name="albums" args="[]" isready="{{_subready}}"></meteor-subscribe>
    <meteor-subscribe id="subalbum" name="album"></meteor-subscribe>
    <meteor-collection id="collection" name="music" on-insert="_onInsert" on-error="_onError">
      <meteor-query id="query" options="{{options}}" data="{{items}}" enable="{{_subready}}"></meteor-query>
    </meteor-collection>

    <array-selector id="selector" items="{{items}}" selected="{{album}}"></array-selector>

    <paper-toast class="capsule" id="toast1"></paper-toast>

    <paper-dialog id="popup" with-backdrop entry-animation="fade-in-animation" exit-animation="fade-out-animation" no-cancel-on-outside-click="true">
      <h2>Add a new Album</h2>
      <div class="layout vertical">
        <paper-input id="newartist" label="Artist name" pattern="^.+$"></paper-input>
        <paper-input id="newalbum" label="Album title" pattern="^.+$" on-change="_onAlbumChange"></paper-input>
        <paper-input id="newart" label="Art URL" pattern="^http" error="An art URL is required"></paper-input>
      </div>
      <paper-button dialog-dismiss>Cancel</paper-button>
      <paper-button on-tap="_createAlbum" dialog-confirm>Create album</paper-button>
    </paper-dialog>

    <neon-animated-pages selected="{{page}}" on-neon-animation-finish="_complete">
      <music-list id="list" data="{{items}}" on-tap-album="_transition" on-new-album="_openPopup"></music-list>
      <music-album-card album="{{album}}" on-delete="_deleteAlbum" on-back="_transition"></music-album-card>
    </neon-animated-pages>

  </template>
</dom-module>

<script>
  Polymer({
    is: 'music-app',
    properties: {
      _subready: {
        type: Boolean,
        value: false,
        observer: '_subreadyChanged'
      },
    },
    _onDisconnect: function() {
      this.$.toast1.text = "Disconnected from meteor server";
      this.$.toast1.show();
    },
    _onInsert: function(e) {
      this.$.toast1.text = "Album created with ID "+e.detail.id+"";
      this.$.toast1.show();
    },
    _onError: function(e) {
      this.$.toast1.text = "A problem occurs "+e.detail.error;
      this.$.toast1.show();
    },
    _subreadyChanged: function(subready) {
      // wait subscribtion ready state before querying
      if (this._subready) {
        //this.$.query.collection = this.$.collection.ref;
      }
    },
    _transition: function(e) {
      if (this.page === 0 && e.detail.album) {
        this.$.selector.select(e.detail.album);
        this.$.list.disable = true;
        this.$.subalbum.args = [e.detail.album._id]; // set album subscribtion parameter
        this.page = 1;
      } else {
        this.page = 0;
        this.$.subalbum.args = []; // unsubscribe to album
      }
    },
    _openPopup: function(e) {
      this.$.popup.open();
    },
    _createAlbum: function(e) {
      if (this.status.connected) {
        this.$.collection.insert({
          artist: this.$.newartist.value,
          album: this.$.newalbum.value,
          arturl: this.$.newart.value
        });
      }
    },
    _deleteAlbum: function(e) {
      this.$.collection.remove(e.detail.id);
    },
    _complete: function() {
      if (this.page === 0) {
        // reactivate animated changes
        this.$.list.disable = false;
      }
    },
    _onAlbumChange: function(e) {
      var lorempixelcat = [
        'abstract', 'city', 'people', 'transport', 'animals', 'food', 'nature',
        'business', 'nightlife', 'sports', 'cats', 'fashion', 'technics'
      ];
      this.$.newart.value = "http://lorempixel.com/480/480/"+Random.choice(lorempixelcat)+"/"+e.target.value.replace(/\s/g, "%20");
    },
    ready: function() {
      this.page = 0;
      this.options = { sort: { artist: 1 } };
    }
  });
</script>
