<link rel="import" href="meteor-status.html">
<link rel="import" href="meteor-collection.html">
<link rel="import" href="music-list.html">
<link rel="import" href="music-album-card.html">
<link href="/bower_components/core-animated-pages/core-animated-pages.html" rel="import">
<link href="/bower_components/core-animated-pages/transitions/slide-down.html" rel="import">
<link href="/bower_components/core-icons/core-icons.html" rel="import">
<link href="/bower_components/paper-button/paper-button.html" rel="import">
<link href="/bower_components/paper-input/paper-input.html" rel="import">
<link href="/bower_components/paper-icon-button/paper-icon-button.html" rel="import">

<polymer-element name="music-app">
  <template>

    <style>
      .chip-container {
        position: absolute;
        top: 75px;
        right: 0;
        left: 0;
        text-align: center;
      }
      .chip {
        display: inline-block;
        position: relative;
        border-radius: 3px;
        margin: 4px;
        overflow: hidden;
        text-align: start;
        background-color: #fff;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
      }
      .chip-top {
        width: 200px;
        height: 200px;
      }
      .chip-bottom {
        padding: 8px;
        line-height: 1.5;
      }
      .chip-album-title {
        font-weight: bold;
      }
      #details {
        padding: 150px 10% 0;
      }
      .card {
        height: 400px;
        border-radius: 3px;
        text-align: start;
        overflow: hidden;
        background: #fff;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
      .card-left {
        width: 400px;
      }
      .card-right {
        padding: 24px;
      }
      .card-icon {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        margin-right: 16px;
      }
      .card-album-title {
        font-size: 2em;
      }
      .back-button {
        position: absolute;
        top: 10px;
        left: 10px;
      }
      paper-dialog paper-button {
        color: #1e88e5;
      }
    </style>

    <meteor-status status="{{status}}"></meteor-status>
    <meteor-collection name="music" ref="{{collection}}"></meteor-collection>
    <meteor-subscribe name="albums" isready="{{subready}}"></meteor-subscribe>
    <meteor-subscribe id="subalbum" name="album"></meteor-subscribe>
    <meteor-query id="query" options="{{options}}" data="{{items}}"></meteor-query>

    <core-animated-pages selected="{{page}}" transitions="hero-transition cross-fade slide-down" on-core-animated-pages-transition-end="{{complete}}">
      <music-list id="list" data="{{items}}" on-tap-album="{{transition}}"></music-list>
      <music-album-card album="{{selectedAlbum}}" on-back="{{transition}}"></music-album-card>
    </core-animated-pages>

  </template>
  <script>
    Polymer('music-app', {
      subready: false,
      page: 0,
      selectedAlbum: null,
      collection: null,
      options: {
        sort: {
          artist: 1
        }
      },
      subreadyChanged: function() {
        // wait subscribtion ready state before querying
        if (this.subready && this.collection) {
          this.$.query.collection = this.collection;
        }
      },
      transition: function(e) {
        if (this.page === 0 && e.detail.album) {
          this.$.list.disable = true;
          this.selectedAlbum = e.detail.album;
          this.$.subalbum.args = [this.selectedAlbum._id]; // set album subscribtion parameter
          this.page = 1;
        } else {
          this.page = 0;
          this.$.subalbum.args = []; // unsubscribe to album
        }
      },
      createalbum: function(e) {
        if (this.collection && this.status.connected) {
          this.collection.insert({
            artist: this.$.newartist.value,
            album: this.$.newalbum.value,
            art: this.$.newart.value
          });
        }
      },
      rmalbum: function(e) {
        if (this.selectedAlbum) {
          setTimeout(function() {
            this.collection.remove({
              _id: this.selectedAlbum._id
            });
          }.bind(this), 1000);
        }
      },
      complete: function() {
        if (this.page === 0) {
          // reactivate animated changes
          this.$.list.disable = false;
        }
      }
    });
  </script>
</polymer-element>
