<link rel="import" href="/bower_components/neon-animation/neon-shared-element-animatable-behavior.html">
<link rel="import" href="/bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="/bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="/bower_components/neon-animation/animations/slide-up-animation.html">
<link rel="import" href="/bower_components/neon-animation/animations/slide-down-animation.html">
<link rel="import" href="/bower_components/paper-fab/paper-fab.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">

<dom-module id="music-album-card">
  <style>
  :host {
    padding: 5% 10% 0;
  }
  .back-button {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .card {
    position: relative;
    height: 400px;
    border-radius: 3px;
    text-align: start;
    background: #fff;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .card-left {
    width: 400px;
  }
  .card-right {
    padding: 24px;
  }
  .card-icon {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 16px;
  }
  .card-album-title {
    font-size: 2em;
  }
  paper-fab {
    position: absolute;
    top: -28px;
    right: -28px;
  }
  </style>

  <template>
    <div id="container">
    <paper-icon-button class="back-button" icon="arrow-back" on-tap="transition"></paper-icon-button>
    <div id="details" class="card layout horizontal" on-tap="transition">
      <paper-fab icon="delete" on-tap="delete"></paper-fab>
      <div id="cover" class="card-left" style$="{{_computeChipStyle(album)}}"></div>
      <div class="card-right flex" >
        <div class="layout vertical">
          <div class="layout horizontal center">
            <div>
              <div class="card-icon" style$="{{_computeChipStyle(album)}}"></div>
            </div>
            <div class="flex">
              <div class="card-album-title">{{album.album}}</div>
              <div class="card-album-artist">{{album.artist}}</div>
              <h3>Tracks</h3>
              <ol>
                <template is="dom-repeat" items="{{album.tracks}}">
                  <li>{{item}}</li>
                </template>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'music-album-card',
    behaviors: [ Polymer.NeonSharedElementAnimatableBehavior ],
    properties: {
      album: {
        type: Object
      },
      sharedElements: {
        type: Object,
        value: function() {
          return {
            'hero': this.$.cover,
            'hero2': this.$.details,
          };
        }
      },
      animationConfig: {
        value: function() {
          return {
            'entry': [
              { name: 'hero-animation', id: 'hero2', toPage: this },
              { name: 'hero-animation', id: 'hero', toPage: this },
            ],
            'exit': [
              { name: 'hero-animation', id: 'hero2', fromPage: this },
              { name: 'hero-animation', id: 'hero', fromPage: this },
            ],
          }
        }
      },
    },
    _computeChipStyle: function(item) {
      if (item)
        return "background: url("+item.arturl+") 0 0/100% 100%;";
    },
    transition: function() {
      this.fire('back');
    },
    delete: function() {
      this.fire('delete', { id: this.album._id });
      this.fire('back');
    }
  });
</script>
