<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-icon-button/core-icon-button.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/core-tooltip/core-tooltip.html">

<polymer-element name="periode-card">
  <template>
    <style>
    :host {
      display: block;
      position: relative;
      padding: 20px;
      margin-bottom: 30px;
      width: 100%;
    }
    .card-header {
      margin-bottom: 10px;
    }
    polyfill-next-selector { content: '.card-header h2'; }
    .card-header ::content h2 {
      margin: 0;
    }
    polyfill-next-selector { content: '.card-header img'; }
    .card-header ::content img {
      width: 70px;
      border-radius: 50%;
      margin: 10px;
    }
    ::content p {
      text-align: justify;
      padding: 10px;
    }
    </style>
    <div class="card-header" layout horizontal center>
      <content select="h2"></content>
      <div flex></div>
      <content select="h3"></content>
    </div>
    <div layout horizontal>
      <div flex>
        <h4>Rapport entreprise</h4>
        <content select="p[entreprise]"></content>
      </div>
      <div flex>
        <h4>Rapport IUT</h4>
        <content select="p[iut]"></content>
      </div>
    </div>
    <paper-input multiline rows="3" label="Ecrire ici votre commentaire d'approbation ou de refus" style="width: 100%;"></paper-input>
    <div layout horizontal end>
      <core-tooltip label='Refuser le rapport' position="top">
        <paper-fab icon="reply" style="background-color: #ff7043;" mini></paper-fab>
      </core-tooltip>
      <div flex></div>
      <core-tooltip label='Approuver le rapport' position="top">
        <paper-fab icon="done" style="background-color: #8bc34a;"></paper-fab>
      </core-tooltip>
    </div>
  </template>
  <script>
  Polymer({});
  </script>
</polymer-element>
